body{
    background-color:#f4f4f4;
    font-family: Calibri;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#inCode{
    position: relative;
    left: 300px;
    top: 350px;

}

.settings{
    position: relative;
    left: 650px;
    top: 450px;
    z-index: 1;
}

